{% load jfutags %}{% load pyforms %}<!DOCTYPE html />
<html lang="en">
<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block head_title %}{{ title }}{% endblock %}</title>

        {% pyforms_dependencies %}

        {% if extra_css_file %}
            <link rel="stylesheet" type="text/css" href="{{ extra_css_file }}" /></link>
        {% endif %}

        <link rel="stylesheet" type="text/css" href="/static/orquestra.css" /></link>
        <script type="text/javascript" src="/static/orquestra.js"></script>

        {% block head %}{% endblock %}
        {% block css %}{% endblock %}
        {% block js %}{% endblock %}

        {% if GOOGLE_ANALYTICS %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{GOOGLE_ANALYTICS}}"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', '{{GOOGLE_ANALYTICS}}');
            </script>
        {% endif %}

    <script type="text/javascript" src="/static/avp_client.min.js"></script>
</head>
<body >
{% block fullcontent %}

    {% block top_bar %}{% include "topbar.html" %}{% endblock %}
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block extra_scripts %}{% endblock %}

{% endblock %}
</body>
</html>

